h1{
    background: red;
}

/* #FirstId{
    background-color: green;

} */
/* .classA{
    color: rebeccapurple;
    background-color: blue;
} */
h2{
    background-color: pink !important; 
}