/* Tag based selction
h1{
    background-color: rebeccapurple;
    font-style: italic; 
} */
*{
    background-color: pink;
  font-family: "Cossette Titre", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.cossette-titre-bold {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* #->id,.->class */
#heading{
    background-color: brown;
}
/* group based */
.sub3,#heading{
    font-style: italic;
    font-weight:lighter;
    background-color: lightyellow;

}

/* coloring */
ul{
    color: rgba(61, 14, 201, 0.899);
}
ol{
    background-color: rgb(186, 226, 43);
     font-size: 3rem;
    color: red;
}
/* 
total memory required RGB memory=8+8+8=24 bits */
/* .h1{
    background-color: hsl(19, 96, 25%);

} */
h2{
    background-color: #5f1997;
    color:grey;

 }

img{
    height: 400px;
    width: 475px;
}
h1,h2{
    font-size: 75px;
}
ul{
    font-size: 2.5em;
}
